.header {
  width: 100%;
  padding: 20px;
  background-color: #0d1540;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navList {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navItem {
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.link {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.active {
  color: rgb(213, 169, 255);
}
